/Classwork/HelloWorld/target/
/Classwork/WindowMaster/target/
/Classwork/PracticeProgramming/target/
/Classwork/Factorizer/target/
/Classwork/InterestCalculator/target/
/Classwork/LuckySevens/target/
/Classwork/StateCapitals1/target/
