/Classwork/HelloWorld/target/
/Classwork/WindowMaster/target/
/Classwork/PracticeProgramming/target/
/Classwork/Factorizer/target/
/Classwork/InterestCalculator/target/
/Classwork/LuckySevens/target/
/Classwork/StateCapitals1/target/
/Classwork/UserIO/target/
/Classwork/StudentQuizGrades/target/
/Classwork/StateCapitals3/target/
/Classwork/ClassRoster/target/
/Classwork/StatelessUnitTesting/nbproject/
/Classwork/StatelessUnitTesting/target/
/Classwork/ClassRoster/nbproject/
/Classwork/DVDLibrary/target/
/Classwork/DVDLibrary/nbproject/
/DaysOfTheWeekEnum/target/
/MathOperatorEnum/target/
/Classwork/DaysOfTheWeekEnum/target/
/Classwork/MathOperatorEnum/target/
/Classwork/MonstrousDaoTestingLab/nbproject/
/Classwork/MonstrousDaoTestingLab/target/
/Classwork/BirthDAYCalculator/target/
/Classwork/CarLot/target/
